<ion-view >
  <ion-content class="padding">

 

<div class="bar bar-header">
  <button class="button button-stable pull-left icon ion-navicon"></button>

 <!--
 <img class="full-image" src="img\ozay.png" >
 -->
</div>

<!-- 
  </ion-content>
</ion-view>
-->
<br><br>
  <div class="item item-divider button button-full icon-right ion-chevron-right">
      EVENTS 
  </div>
  <a class="item">
    Party in the common area...
  </a>
    <a class="item">
    NYE in the common backyard...
  </a>

 <div class="item item-divider button button-full icon-right ion-chevron-right">
      NOTIFICATIONS 
  </div>

  <a class="item" >
    Please do not throw...
  </a>

  <div class="item item-divider button button-full icon-right ion-chevron-right">
      POSTS 
  </div>

  <a class="item">
    Should we get a ping pong table Y/N...
  </a>

   </ion-content>
</ion-view>



<div class="bar bar-footer bar-balanced">
<img src="img\ozayppl.png">
  <!--<div class="title">Footer</div>-->
</div>